/* Import VT323 font */
@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

/* Import ChronoType font */
@font-face {
  font-family: 'ChronoType';
  src: url('/fonts/ChronoType.ttf') format('truetype');
}

/* Global styles */
body {
  font-family: 'VT323', monospace;
  margin: 0;
  padding: 0;
  background-color: #dce8f7; /* Main background color - Soft pastel blue */
  color: #757575; /* Body text color - Muted gray */
  font-size: 16px; /* Adjust the font size for better readability */
}

.container {
  max-width: 800px;
  margin: 50px auto;
  background-color: #f9f7f3; /* Container background color - Light cream */
  border-radius: 10px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
  position: relative;
}

header {
  background-color: #ffb6c1; /* Header background color - Warm coral */
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  padding: 20px;
  text-align: center;
}

header h1 {
  margin: 0;
  color: #423f3e; /* Header text color */
  font-size: 72px;
  font-family: 'ChronoType', sans-serif;
}

.content {
  padding: 20px;
}

.radio {
  margin-bottom: 20px;
}

.radio input[type="radio"] {
  display: none;
}

.radio label {
  display: inline-block;
  cursor: pointer;
  margin: 5px 0; /* Adjust vertical margin */
  padding: 10px 20px;
  background-color: #add8e6; /* Radio label background color - Soft pastel blue */
  border-radius: 5px;
  transition: background-color 0.3s ease;
  width: 100%; /* Set a fixed width for the labels */
  box-sizing: border-box; /* Include padding and border in the element's total width */
  text-align: center; /* Center align the text */
  font-size: 24px;
  font-weight: bold; 
}

.radio input[type="radio"]:checked + label {
  background-color: #e6e6fa; /* Checked radio label background color - Gentle lavender */
}

.player {
  text-align: center;
  margin-bottom: 20px; /* Add margin */
}

.player #player {
  height: 0;
  width: 0;
}

/* Now Playing section styles */
#nowPlaying {
  overflow: hidden;
  white-space: nowrap;
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  padding: 10px;
  background-color: #ffffcc; /* Now Playing background color - Pale yellow */
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  font-size: 24px;
  width: 300px;
}

.marquee-container {
  overflow: hidden;
  width: 100%; /* Ensure full width for the marquee effect */
}

#stationName {
  font-weight: bold;
  display: inline-block;
  animation: marquee 20s linear infinite;
}

@keyframes marquee {
  0% {
    transform: translateX(110%);
  }

  100% {
    transform: translateX(-110%); /* Increase the translation to ensure text moves off screen */
  }
}

/* CSS for "Buy Me a Coffee" button */
#buyMeACoffee {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #c1ffc1; /* Button background color - Light green */
  border: none;
  border-radius: 5px;
  padding: 10px 15px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  font-size: 18px;
  color: #808080; /* Button text color - Soft gray */
  cursor: pointer;
  display: flex;
  align-items: center;
  transition: background-color 0.3s ease;
  text-decoration: none; /* Remove default underline */
}

#buyMeACoffee:hover {
  background-color: #afeeee; /* Button hover background color - Pale turquoise */
}

#buyMeACoffee .material-symbols-outlined {
  font-size: 24px; /* Adjust the icon size as needed */
  margin-right: 8px; /* Adjust spacing between icon and text */
}

#buyMeACoffee:hover {
  text-decoration: underline; /* Underline text on hover */
}

/* Styles for the theme select dropdown */
.theme-dropdown {
  position: fixed;
  top: 20px;
  right: 20px;
}

.theme-dropdown label {
  font-size: 20px;
  font-weight: bold;
  color: #333; /* Dark text color */
}

.theme-dropdown select {
  padding: 5px 10px;
  font-size: 14px;
  border: 1px solid #333; /* Dark border */
  border-radius: 5px;
  background-color: #fff; /* White background */
  color: #333; /* Dark text color */
  cursor: pointer;
}

.theme-dropdown select:hover {
  background-color: #f0f0f0; /* Light gray background on hover */
}

/* About Me section styles */
.about-me {
  background-color: #f3e6f7; /* Background color - Soft pastel purple */
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  margin: 20px auto;
  max-width: 400px;
}

.about-me h2 {
  color: #7a4171; /* Header text color - Dark purple */
  font-size: 32px;
  margin-bottom: 10px;
  font-family: 'ChronoType', sans-serif;
}

.about-me p {
  color: #4f4f4f; /* Body text color - Dark gray */
  font-size: 20px;
  line-height: 1.6;
}

/* Styles for the current time widget */
#current-time {
  font-size: 24px;
  font-weight: bold;
  color: #333;
  margin-bottom: 10px;
}

/* Styles for the current weather widget */
#current-weather {
  font-size: 20px;
  color: #333;
}

/* Container for widgets */
.widgets {
  margin-top: 20px; /* Add some space between widgets and other content */
  background-image: url('https://media1.tenor.com/m/GiO4XNKti44AAAAd/retrowave-synthwave.gif'); /* Background image */
  background-size: cover; /* Cover the entire container */
  padding: 20px; /* Padding around the widgets */
  border-radius: 10px; /* Rounded corners */
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); /* Shadow effect */
  max-width: 400px; /* Limit width to prevent stretching */
  margin: 20px auto; /* Center the container */
  height: 200px; /* Fixed height for the container */
  position: relative; /* Position relative for absolute positioning of overlay */
}

/* Overlay for backdrop */
.widgets::after {
  content: ''; /* Create pseudo-element */
  position: absolute; /* Position absolute to position relative to .widgets */
  top: 0; /* Position from top */
  left: 0; /* Position from left */
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black overlay */
  border-radius: 10px; /* Rounded corners */
}

/* Text inside the widgets container */
.widgets #current-time,
.widgets #current-weather {
  color: #fff; /* Text color */
  font-size: 20px; /* Font size */
  font-weight: bold; /* Bold font weight */
  text-align: center; /* Center align text */
  position: relative; /* Position relative for stacking */
  z-index: 1; /* Ensure text is above the overlay */
}

@media (max-width: 600px) {
  /* Hide original theme select dropdown */
  .theme-dropdown {
    display: none;
  }

  /* Style for mobile-friendly theme select dropdown */
  .mobile-theme-dropdown {
    position: relative;
    margin-top: 20px; /* Add some space between the "About Me" section and the dropdown */
    width: calc(100% - 40px); /* Adjust the width */
    margin: 20px auto; /* Center the dropdown */
    background-color: #ffffff; /* White background */
    border: 1px solid #ccc; /* Light gray border */
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }

  .mobile-theme-dropdown label {
    font-size: 28px;
    font-weight: bold;
    color: #333; /* Dark text color */
    display: block;
    margin: 10px 0;
    padding: 0 10px;
    background-color: #f5f5f5; /* Light gray background */
  }

  .mobile-theme-dropdown select {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: none;
    background-color: #ffffff; /* White background */
    color: #333; /* Dark text color */
    cursor: pointer;
    appearance: none; /* Remove default dropdown arrow */
    -webkit-appearance: none;
    -moz-appearance: none;
  }

  .mobile-theme-dropdown select:hover {
    background-color: #f0f0f0; /* Light gray background on hover */
  }
}

@media (min-width: 601px) {
  /* Hide mobile selector on regular desktop screens */
  .mobile-theme-dropdown {
    display: none;
  }
}

@media (max-width: 600px) {
  /* Hide desktop version of the "Buy Me a Coffee" button */
  #buyMeACoffee {
    display: none;
  }

  /* Mobile-friendly "Buy Me a Coffee" button */
  .mobile-buy-me-coffee {
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #03DAC6; /* Button background color - Turquoise */
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    box-shadow: 0 2px 4px rgba(255, 255, 255, 0.1);
    font-size: 18px; /* Button font size */
    color: #000000; /* Button text color - Black */
    cursor: pointer;
    display: flex;
    align-items: center;
    transition: background-color 0.3s ease;
    text-decoration: none; /* Remove default underline */
  }

  .mobile-buy-me-coffee:hover {
    background-color: #00bfa5; /* Button hover background color - Slightly darker shade of turquoise */
  }

  .mobile-buy-me-coffee .material-symbols-outlined {
    font-size: 24px; /* Adjust the icon size as needed */
    margin-right: 8px; /* Adjust spacing between icon and text */
  }

  .mobile-buy-me-coffee:hover {
    text-decoration: underline; /* Underline text on hover */
  }
}

@media (min-width: 601px) {
  /* Hide mobile version of the "Buy Me a Coffee" button on regular desktop screens */
  .mobile-buy-me-coffee {
    display: none;
  }
}

@media (max-width: 600px) {
  /* Hide desktop version of the "Buy Me a Coffee" button */
  #buyMeACoffee {
    display: none;
  }

  /* Mobile-friendly "Buy Me a Coffee" button */
  .mobile-buy-me-coffee {
    position: relative;
    margin-top: 20px; /* Adjust the margin from the theme selector */
    width: auto; /* Let the button adjust its width based on content */
    display: inline-flex; /* Display as flex to align items */
    align-items: center; /* Center items vertically */
    justify-content: center; /* Center items horizontally */
    background-color: #c1ffc1; /* Button background color - Light green */
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    font-size: 18px; /* Button font size */
    color: #808080; /* Button text color - Soft gray */
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-decoration: none; /* Remove default underline */
  }

  .mobile-buy-me-coffee:hover {
    background-color: #afeeee; /* Button hover background color - Pale turquoise */
  }

  .mobile-buy-me-coffee .material-symbols-outlined {
    font-size: 24px; /* Adjust the icon size as needed */
    margin-right: 8px; /* Adjust spacing between icon and text */
  }

  .mobile-buy-me-coffee:hover {
    text-decoration: underline; /* Underline text on hover */
  }
}

@media (min-width: 601px) {
  /* Hide mobile version of the "Buy Me a Coffee" button on regular desktop screens */
  .mobile-buy-me-coffee {
    display: none;
  }
}

